---
import Layout from '../layouts/Layout.astro';
const breadcrumbSchema={"@context": "https://schema.org", "@type": "BreadcrumbList", "itemListElement": [{"@type": "ListItem", "position": 1, "name": "Home", "item": "https://stairwaymortgage.com/"}, {"@type": "ListItem", "position": 2, "name": "State Licensing"}]};
---

<Layout title="NMLS Licensing & State Registrations | Stairway Mortgage" description="Official state licensing information for Stairway Mortgage and NEXA Mortgage LLC. NMLS numbers state registrations and regulatory compliance." canonical="https://stairwaymortgage.com/state-licensing/">
  <script type="application/ld+json" set:html={JSON.stringify(breadcrumbSchema)} />
  <nav class="container-page ft-breadcrumb" aria-label="Breadcrumb">
    <a href="/">Home</a> <span>/</span> <span>State Licensing</span>
  </nav>
  <header class="container-prose ft-header">
    <span class="eyebrow eyebrow-blue mb-4">Legal</span>
    <h1 class="display-md">State Licensing</h1>
  </header>
  <article class="container-prose prose-editorial ft-body" set:html={`<h2>State-Specific Licensing &amp; Disclosures</h2>				
		Stairway Mortgage, a Division of NEXA Mortgage LLC, is licensed and registered in multiple states across the U.S. Below is a state-by-state breakdown of our licensing information for mortgage brokerage, lending, and servicing operations.		
					<h2>State Licensing Information
</h2>				
			<table id="eael-data-table-cc30ab9">
			    <thead>
			        <tr>
									            <th id="" colspan="">
														State</th>
			        				            <th id="" colspan="">
														License #</th>
			        				        </tr>
			    </thead>
			  	<tbody>
											<tr>
																   											<td colspan="" rowspan="" id="">
													ALABAMA
											</td>
																													   											<td colspan="" rowspan="" id="">
													AL Consumer Credit License No. 23159<br>
AL Mortgage Brokers License No. 22730
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													ALASKA
											</td>
																													   											<td colspan="" rowspan="" id="">
													AK Mortgage Broker/Lender License No. AK1660690
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													ARIZONA												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Licensed as a Mortgage Broker by the Arizona Department of Financial Institutions No. 0944059
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													ARKANSAS												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Licensed as a Combination Mortgage Banker-Broker-Servicer with the Arkansas Securities Department No. 118357
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													CALIFORNIA												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Licensed by the Department of Financial Protection and Innovation under the California Residential Mortgage Lending Act No. 60DBO-89752
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													COLORADO
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Company Registration – Regulated by the Division of Real Estate
🔗 www.dora.state.co.us/real-estate												
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													CONNECTICUT												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Lender License No. ML-1660690
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													DELAWARE												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Licensed as a Mortgage Lender by the Office of the State Bank Commissioner No. 038149
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													DISTRICT OF COLUMBIA (D.C.)
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Broker License No. MLB1660690<br>
Mortgage Lender License No. MLB1660690												
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													FLORIDA												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Broker License No. MBR2972<br>
Mortgage Lender License No. MLD2401												
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													HAWAII												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Loan Originator Company License No. HI-1660690
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													IDAHO												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Broker/Lender License No. MBL-2081660690
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													ILLINOIS
											</td>
																													   											<td colspan="" rowspan="" id="">
													Illinois Residential Mortgage Licensee No. MB.6761446
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													INDIANA
											</td>
																													   											<td colspan="" rowspan="" id="">
													Loan Broker License No. 1660690
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													IOWA
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Banker License No. 2020-0023
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													KANSAS												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Licensed Mortgage Company No. MC.0025605
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													KENTUCKY												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Company License No. MC795910
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													LOUISIANA
											</td>
																													   											<td colspan="" rowspan="" id="">
													Residential Mortgage Lending License
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													MAINE
											</td>
																													   											<td colspan="" rowspan="" id="">
													Supervised Lender License No. 1660690
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													MARYLAND												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Lender License No. 1660690
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													MICHIGAN												
											</td>
																													   											<td colspan="" rowspan="" id="">
													1st Mortgage Broker/Lender License No. FL0022410<br>
2nd Mortgage Broker/Lender License No. SR0022411
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													MINNESOTA												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Residential Mortgage Originator License No. MN-MO-1660690
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													MISSISSIPPI												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Lender License No. 1660690
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													MISSOURI
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Company License No. 1660690
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													MONTANA												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Broker License No. 1660690<br>
Mortgage Lender License No. 1660690
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													NEBRASKA												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Banker License
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													NEVADA												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Company License No. 5018
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													NEW HAMPSHIRE
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Banker License No. 23427-MB
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													NEW JERSEY
											</td>
																													   											<td colspan="" rowspan="" id="">
													Correspondent Residential Mortgage Lender License
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													NEW MEXICO
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Loan Company License
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													NORTH CAROLINA
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Lender License No. L-217879
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													NORTH DAKOTA
											</td>
																													   											<td colspan="" rowspan="" id="">
													Residential Mortgage Lender License No. ML104585
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													OHIO												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Residential Mortgage Lending Act Certificate of Registration No. RM.804570.000
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													OKLAHOMA												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Broker License No. MB012695
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													OREGON												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Lender License No. 1660690
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													PENNSYLVANIA												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Lender License No. 105986
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													RHODE ISLAND
											</td>
																													   											<td colspan="" rowspan="" id="">
													Lender License No. 20244768LL<br>
Loan Broker License No. 20204046LB
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													SOUTH CAROLINA
											</td>
																													   											<td colspan="" rowspan="" id="">
													Licensed by the Bureau of Financial Institutions – Mortgage Lender/Servicer License No. MLS-1660690
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													SOUTH DAKOTA
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Brokerage License No. 1660690.MB<br>
Mortgage Lender License No. 1660690.ML
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													TENNESSEE												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage License No. 186056
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													TEXAS												
											</td>
																													   											<td colspan="" rowspan="" id="">
													SML Mortgage Banker Registration<br>
SML Residential Mortgage Loan Servicer Registration
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													UTAH
											</td>
																													   											<td colspan="" rowspan="" id="">
													DRE Mortgage Entity License No. 11269836
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													VERMONT
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Broker License No. 1575 MB<br>
Lender License
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													VIRGINIA												
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Lender and Broker License No. MC-7106
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													WASHINGTON
											</td>
																													   											<td colspan="" rowspan="" id="">
													Licensed by the Department of Financial Institutions under the Consumer Loan Act No. CL-1660690
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													WEST VIRGINIA
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Lender License No. ML-1660690<br>
Mortgage Broker License No. MB-1660690
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													WISCONSIN
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Banker License No. 1660690BA<br>
Mortgage Broker License No. 1660690BR
											</td>
																										</tr>
			        						<tr>
																   											<td colspan="" rowspan="" id="">
													WYOMING
											</td>
																													   											<td colspan="" rowspan="" id="">
													Mortgage Broker License No. 3637
											</td>
																										</tr>
			        			    </tbody>
			</table>
					<h2>Corporate Address
</h2>				
		<p>Stairway Mortgage, a Division of NEXA Mortgage LLC</p><p>3100 W Ray Road #201, Office #209, Chandler, AZ 85226<br />(602) 344-9333<br />info@nexamortgage.com</p><p>Effective Date: September 1, 2019</p>`} />
</Layout>

<style>
  .ft-breadcrumb { font-family:var(--font-mono); font-size:12px; color:var(--color-mute); padding-top:2rem; padding-bottom:1.25rem; }
  .ft-breadcrumb a { color:var(--color-mute); text-decoration:none; } .ft-breadcrumb a:hover { color:var(--color-blue); }
  .ft-breadcrumb span { margin-inline:0.4rem; opacity:0.5; }
  .ft-header { padding-top:0.5rem; padding-bottom:1rem; }
  .ft-body { margin-top:1.5rem; padding-bottom:4rem; }
  .ft-body :global(h2) { font-family:var(--font-display); font-weight:500; font-size:clamp(1.4rem,2.5vw,1.9rem); margin-top:2.5rem; margin-bottom:1rem; }
  .ft-body :global(h3) { font-family:var(--font-display); font-weight:500; font-size:1.3rem; margin-top:1.75rem; margin-bottom:0.7rem; }
  .ft-body :global(h2 b),.ft-body :global(h3 b) { font-weight:inherit; }
  .ft-body :global(p) { font-size:16px; line-height:1.7; margin-bottom:1.1rem; color:var(--color-ink-light); }
  .ft-body :global(ul),.ft-body :global(ol) { margin:0 0 1.4rem 1.25rem; display:flex; flex-direction:column; gap:0.45rem; }
  .ft-body :global(a) { color:var(--color-blue); text-decoration:underline; text-underline-offset:2px; }
  .ft-body :global(img) { max-width:100%; height:auto; border-radius:10px; margin:1.5rem 0; }
  .ft-body :global(table) { width:100%; border-collapse:collapse; margin:1.5rem 0; font-size:14px; }
  .ft-body :global(th),.ft-body :global(td) { border:1px solid var(--color-bone); padding:0.6rem 0.8rem; text-align:left; }
  .ft-body :global(th) { background:var(--color-paper-tint); font-weight:600; }
</style>
